.post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'Playfair Display', serif;
     color: black;
    padding: 3%;
    min-width: 25%;
    max-width: 25%;
    min-height: 20%;
    max-height: 20%;
    border: 1px solid white;
    border-radius: 4%;
  }